*.class
*.log
*.jar
*.war
*.iml
.idea/
.vscode/
target/
build/
out/
.mvn/wrapper/maven-wrapper.jar

.env
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
secret.backend.tfvars
kubeconfig*
kube/

